/* Main container styling */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fdf8f5; /* Light beige background */
  font-family: 'Josefin Slab', serif; /* Applying the font globally */
  color: #2b2b2b;
}

/* Time section styling */
.time-container {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Josefin Slab', serif; /* Applying the font globally */
}

.time-container h1 {
  font-size: 100px;
  font-weight: 400;
  margin: 0;
}

.time-container p {
  font-size: 30px;
  margin: 0;
}

/* Quote section styling */
.quote-container {
  margin-top: 20px;
  font-style: italic;
  font-size: 22px;
  text-align: center;
  max-width: 350px; /* Limit the width for better readability */
  line-height: 1.5; /* Spacing between lines */
  font-weight: bold;
}

/* Plus button styling */
.plus-button {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 30px;
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: #000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plus-button:hover {
  background-color: #ddd; /* Slight hover effect */
}
