/* General styles */
.search-header-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: flex-start; /* Align items to the left (start) */
  border-radius: 10px;
  margin: 50px 20px 0px 20px;
  padding: 0 20px;
  background-color: #f7efee;
  border: 1px solid #2b2b2b;
}

.search-input {
  width: 100%; /* Make the search input take the full width of the container */
  max-width: 300px; /* Set a max-width if you want to limit the size */
  padding: 10px;
  border-radius: 20px;
  font-size: 16px;
  background-color: #fdf9f7;
  margin: 10px; /* Add spacing between the search bar and the title */
}

.recipes-and-sort {
  display: flex; /* Ensure it's a flex container */
  flex-direction: row; /* Align items horizontally */
  align-items: center; /* Vertically align the items if needed */
  margin: 10px 0; /* Optional: Add spacing */
}

.list-title {
  font-size: 24px;
  font-family: 'Josefin Slab', serif; /* Applying the same font */
  color: #5e1b13;
  margin: 10px;
}

.sort-arrow {
  cursor: pointer;
  margin-left: 10px;
  font-size: 18px;
}

.recipe-list-container {
  font-family: 'Josefin Slab', serif; /* Applying the font globally */
  background-color: #f7efee;
  padding: 20px;
  border-radius: 10px;
  margin: 50px 20px 0px 20px;
  border: 1px solid #2b2b2b;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: thin; /* Makes the scrollbar thinner */
  scrollbar-color: #c69a94 #f1f1f1; /* Thumb color and track color */
}

.recipe-list-container::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

.recipe-list-container::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track background */
  border-radius: 10px;
}

.recipe-list-container::-webkit-scrollbar-thumb {
  background-color: #c69a94; /* Scrollbar thumb color */
  border-radius: 10px;
  border: 2px solid #f8efec; /* Optional: Add border around thumb */
}

.recipe-list-container::-webkit-scrollbar-thumb:hover {
  background-color: #b07b74; /* Darken thumb on hover */
}

.recipe-list {
  border-top: 1px solid #5e1b13;
  padding-top: 10px;
  margin-top: 10px;
}

.no-recipes {
  padding: 20px;
  text-align: center;
  font-size: 18px;
  color: #5e1b13;
  font-family: 'Josefin Slab', serif; /* Using the same font as the rest of the site */
}
