.orders-container {
    width: auto;
    height: 100%;
    margin: 50px 80px 70px 80px;
    background-color: #f7efee;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: hidden;
    border-radius: 10px;
    position: relative;
}

/* Header styles */
.header-for-children {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    background-color: #f7efee;
}

.header-item {
    flex: 1;
    text-align: center;
    font-weight: bold;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    margin: 0px;
    padding: 20px;
    font-size: 24px;
}

/* Remove border from the last header item */
.header-item:last-child {
    border-right: none;
}

/* Main content styles */
.content-container {
    display: flex;
    height: 100%;
    width: auto;
    margin: 0px;
}

/* Column containers */
.processing-container,
.about-container,
.ready-container {
    flex: 1;
    background-color: #fff;
    border-right: 2px solid black;
    width: 32%;
    height: 650px;
    overflow-y: auto;
}

/* Remove right border from the last content column */
.ready-container {
    border-right: none;
}

/* Floating button style */
.floating-button {
    position: fixed;
    bottom: 5px; /* Closer to the bottom */
    left: 5px; /* Closer to the left */
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: f9f5f2;
    border: 2px solid #000;
    font-size: 24px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.floating-button:hover {
    background-color: #f0f0f0;
}
